body {
    font-family: helvetica, roboto, arial, sans-serif;
    color: #202020;
}

header {
    margin: 0 auto;
    text-align: center;
    color: #2976a2;
    font-size: 80px;
}

.problems {
    display: block;
    margin: 0 auto;
    width: 1200px;
}

.solutions {
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 250px;
    float: left;
}

.solutions h2 {
    text-align: center;
}

.cute {
    font-variant: small-caps;
    font-style: italic;
    color: #2976a2;
}

.answer {
    font-weight: bold;
    color: #2976a2;
}